
<div class="container fill" >

    <div class="row">
	<div class="fixeddiv">
		 
	</div>	 
   </div>
	
        <div class="col-xs-1 col-md-3 "  ></div>
        <div class="col-xs-10 col-md-6" id="centre">
        
        <div class="panel-body" style="padding:0px;">
            <table class="table table-striped" style="margin-bottom: 0px;" showHeader="false">
              <tbody align="left">
                <tr>
                  <td><strong>Date:</strong></td>
                  <td>{{editor.newBookingData.startTime | date : 'mediumDate'}} </td>
                </tr>
                <tr>
                  <td><strong>From:</strong></td>
                  <td>{{editor.newBookingData.startTime | date : 'shortTime'}}</td>
                </tr>
                <tr>
                  <td><strong>To:</strong></td>
                  <td>{{editor.newBookingData.endTime | date : 'shortTime'}}  |
                        or extend to
                 
                        <div id="sel1" style="" >
                            <select style="width:auto;" class="form-control form-small" ng-model="editor.extendSelected" ng-options=" (item | date : 'shortTime') for item  in editor.extendTimes" ng-click="editor.setExtendDrop()" ng-disabled="editor.cantEdit">
                                <option value="" ng-if="false"></option> 
                            </select>
                
		                </div>  
                        </br>
                     
                        <p><b>Can only extend 2 hours before the booking start time.</b> </p>
                        
                 </td>
                </tr>
                <tr>
                  <td><strong>Room Number:</strong></td>
                  <td>{{editor.newBookingData.data.room_id }}</td>
                </tr>
                <tr>
                  <td><strong>Laptop ID:</strong></td>
                  <td ng-if="editor.newBookingData.data.laptop_id == -1" >None</i>    
                  </td>
                  <td ng-if="editor.newBookingData.data.laptop_id != -1" >{{editor.newBookingData.data.laptop_id}}</i>    
                  </td>
                </tr>
                <tr>
                  <td><strong>Projector ID:</strong></td>
                  <td ng-if="editor.newBookingData.data.projector_id == -1" >None</i>    
                  </td>
                  <td ng-if="editor.newBookingData.data.projector_id != -1" >{{editor.newBookingData.data.projector_id}}</i>    
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        

        
		<!-- Trigger the modal with a button -->
		<button type="button" style="width:60px;padding:7px; position:absolute; left:0; margin:5px;" ng-click="editor.setNewBookingData();" class="btn btn-info" data-backdrop="static" data-toggle="modal" data-target="#myModal"><i class="fa fa-floppy-o fa-lg"></i>
</button>
		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
  		<div class="modal-dialog modal-sm">
    		<!-- Modal content-->
    		<div class="modal-content">
	      <div class="modal-header">
		
		<h4 class="modal-title">Your booking has been saved.</h4>
	      </div>
	      <div class="modal-body">
	           <div class="panel-body" style="padding:0px;">
                    <table class="table table-striped" style="margin-bottom: 0px;" showHeader="false">
                      <tbody align="left">
                        <tr>
                          <td><strong>Date:</strong></td>
                          <td>{{editor.newBookingData.startTime | date : 'mediumDate'}} </td>
                        </tr>
                        <tr>
                          <td><strong>From:</strong></td>
                          <td>{{editor.newBookingData.startTime | date : 'shortTime'}}</td>
                        </tr>
                        <tr>
                          <td><strong>Extended To:</strong></td>
                          <td>{{editor.newBookingData.endTime | date : 'shortTime'}}
                               
                         </td>
                        </tr>
                      
                      </tbody>
                    </table>
                </div>
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="" data-dismiss="modal" onclick="window.location.href='/profile'" >OK</button>
	      </div>
	    </div>
	  </div>
	</div>
		<!-- Trigger the modal with a button -->
		<button type="button" style="width:60px;padding:7px;position:absolute; right:0; margin:5px;" class="btn btn-danger" data-toggle="modal" data-target="#myModal2"> <i class="fa fa-trash-o fa-lg"></i>
</button>
		<!-- Modal -->
		<div id="myModal2" class="modal fade" role="dialog">
  		<div class="modal-dialog modal-sm">
    		<!-- Modal content-->
    		<div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Confirm Deletion</h4>
	      </div>
	      <div class="modal-body">
             <p style="font-weight: bold;">Note: </br>If you cancel within 5 hours of the start time,</br> then you cannot book again for 24 hours.</br></br></p>
		<p>Are you sure you want to delete your booking?</p>
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location.href='/profile'"  ng-click="editor.deleteBooking(userFutureBookings)">Confirm</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
   

<nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">

        <div class="navbar-header navbar-left col-xs-3">
          <!--<a class="navbar-brand" href="#">BookMyRoom</a>-->
          
        </div>
        

         <div class="equip col-xs-6">

        

     </div>

       <div class=" navbar-right">

         <!---<a href="#/back" class="btn navbar-btn btn-default btn-small">Next</a>--->
         
     
      </div>
</nav>
