<div class="container fill" >

    <div class="row">
        <div class="col-xs-1 col-md-3" ></div>
        <div class="col-xs-10 col-md-6" id="centre" >
            
            <!-- buttons -->

        
            <div id="dayselector" >
                <h3>{{ selector.today | date: 'dd MMM yyyy (EEEE)' }}</h3> 
	            <h5>Tap desired day to schedule a room</h5> 
	            <ul class="buttonlist">
		            <h2>			 
			            <li><button class="btn btn-large btn-block btn-info" ng-click="selector.updateSelectedValue(selector.dates[0])"> {{selector.dates[0] | date}} </button></li>
                        <li><button class="btn btn-large btn-block btn-info" ng-click="selector.updateSelectedValue(selector.dates[1])"> {{selector.dates[1] | date}} </button></li>
                        <li><button class="btn btn-large btn-block btn-info" ng-click="selector.updateSelectedValue(selector.dates[2])"> {{selector.dates[2] | date}} </button></li>
                        <li><button class="btn btn-large btn-block btn-info" ng-click="selector.updateSelectedValue(selector.dates[3])"> {{selector.dates[3] | date}} </button></li>
                        <li><button class="btn btn-large btn-block btn-info" ng-click="selector.updateSelectedValue(selector.dates[4])"> {{selector.dates[4] | date}} </button></li>
                        <li><button class="btn btn-large btn-block btn-info" ng-click="selector.updateSelectedValue(selector.dates[5])"> {{selector.dates[5] | date}} </button></li>
                        <li><button class="btn btn-large btn-block btn-info" ng-click="selector.updateSelectedValue(selector.dates[6])"> {{selector.dates[6] | date}} </button></li>
		            </h2>
	            </ul>
            </div>



        </div>
        <div class="col-xs-1 col-md-3"  ></div>
    </div>

</div><!-- /.container -->


<nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">

        <div class="navbar-header navbar-left col-xs-6">
          <!--<a class="navbar-brand" href="#">BookMyRoom</a>-->
          <!--<a href="timeselector.html" class="btn navbar-btn btn-default btn-small">Back</a>-->
        </div>

       <div class="navbar-right">

         <!--<a href="#/profile" class="btn navbar-btn btn-default btn-small">Profile</a>-->
     
      </div>
</nav>
