<div class="container fill" >

	<div class="col-xs-1 col-md-3 "></div>
	<div class="col-xs-10 col-md-6" id="centre">
		<h1>Error!</h1></br>
		<i class="fa fa-exclamation-triangle fa-5x"></i>
		<h3>Your booking was not created successfully</h3>
		<h3>This was most likely caused by scheduling conflict for equipment or a room</h3></br>
		<h3>Please return to the homepage and try again</h3>
	</div>

  <div class="col-xs-1 col-md-3"  ></div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header navbar-left col-xs-3">
      <a href="/" class="btn navbar-btn btn-default btn-small">Home</a>
    </div>
    <div class="equip col-xs-6"></div>
    <div class=" navbar-right"></div>
  </div>
</nav>

