<div class="container fill" >

	<div class="col-xs-1 col-md-3 "></div>
	<div class="col-xs-10 col-md-6" id="centre">
            
  	<!-- buttons -->
		
		<form ng-submit="profile.updateUserInfo() "id= "profileform" role="form" class="form-horizontal"> 
		  <div class="form-group has-feedback">
		 
		    <div class=" col-xs-12">
		    	<p class="form-control-static" style="padding-left: 13px; text-align: left; text-transform: capitalize">{{ profile.name}} {{profile.last_name}} [{{ profile.userType}}] </p>
		      	<i class="form-control-feedback glyphicon glyphicon-user"></i>
		    </div>

		    <div class=" col-xs-12">
		    	<p class="form-control-static" style="padding-left: 13px; text-align: left; text-transform: capitalize">{{ profile.netlink_id}}</p>
		      	<i class="form-control-feedback fa fa-smile-o" style="padding-top: 10px;"></i>
		    </div>
	
		    <div class=" col-xs-12">
		      <input type="text" class="form-control" ng-model="profile.new_email"/>
		      	<i class="form-control-feedback glyphicon glyphicon-envelope"></i>
		    </div>

		    <div class=" col-xs-12">
		      <input type="text" class="form-control" ng-model="profile.new_phone"/>
		      	<i class="form-control-feedback glyphicon glyphicon-earphone"></i>
		    </div>

		   <!--  <div class="col-xs-12" style=" margin-top:5px;">
		      <button class="btn btn-info">Reset Changes</button>
		    </div>
 -->
		    <div class="col-xs-12" style=" margin-top:5px;">
		      <button type="submit"class="btn btn-info">Save Changes</button>
		    </div>
	 	    
		   
			</div>
		</form>


		<div class="row show-hide-message" ng-if = "user.message">
			<div class="col-sm-6 col-sm-offset-2">
				<div class="alert alert-info">
					{{ user.message }}
				</div>
			</div>
		</div>


		<div id= "userbookinglist" class="panel panel-primary scroll">
		 <div class="panel-heading">
		      <h4 class="panel-title">
		          My Bookings
		      </h4>
		    </div>

			<div class="panel-group" id="accordion">
			  <div class="panel panel-default" ng-repeat="userFutureBooking in profile.userFutureBookings">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" 
			          href="#collapseOne">
			          Booking {{ $index + 1}}
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
                    {{userFutureBooking.startTime | date : 'd MMM, yyyy'}}  ---

			        {{userFutureBooking.startTime | date : 'HH:mm'}} to {{userFutureBooking.endTime | date : 'HH:mm'}}


                  
							with Laptop # {{userFutureBooking.data.laptop_id }} and Projector # {{userFutureBooking.data.projector_id }}
			    
							<button class="editbutton btn btn-info" ng-click="profile.setSelected(userFutureBooking);"><i class="fa fa-pencil"></i></button>
			      </div>
			    </div>
			  </div>

			</div>
		</div>
	
	</div>
        
  <div class="col-xs-1 col-md-3"  ></div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">

    <div class="navbar-header navbar-left col-xs-3">
      <a href="/" class="btn navbar-btn btn-default btn-small">Home</a>
    </div>
    

    <div class="equip col-xs-6"><a href="/users" class="btn navbar-btn btn-default btn-small" >Users</a>
	</div>
    
    <div class=" navbar-right"></div>

  </div>

</nav>


