

html, body {
  
  height:100%;
  overflow:none; /*global: remove scrolling  */
 
}

 /*stop navbar from covering content  */
body{
   padding-top: 50px;
}

/*middle master column (middle of 3)*/
#centre{

   text-align: center;
   margin-bottom:50px;
   margin-top:10px;
   padding-left:0px;

}

/* for innner most content div*/
#incentre{
	 
margin-top:90px;

}

/* do not wrap navbar elements on small screens  */
nav{
    display:inline-block;
    float:left;
}


/* position logo on far left of navbar */
.navbar-brand
{
display:block;
margin-right: 5px;
}

/* keep buttons on right of navbar */
.navbar-right
{
float:right;
right:0;

}


/* for time selector */
#timeselector{

    list-style-type:none;
    text-align:center;
	

}


/* for day selector */
#dayselector{

    list-style-type:none;
    text-align:center;

}




/* button lists fill their parent div */
.row.buttonlist{
  height: 100%;

}


/* fill behavior for divs */
.fill { 

    max-height:100%;
    min-height: 100%;
    padding-bottom:50px;
    height:100%;
}


/* button lists */
.buttonlist{

    list-style-type:none !important;
    text-align:center !important;
    padding-left:0px !important;
    

}


.btn-info{

display:inline;


}
/*
.btn-info:active, .btn-info.active {

    background-color:purple !important;

}
*/


/* minimize margins on headind */
h3 {
margin-top:10px;
}


/* stop div from moving while scrolling */
.fixeddiv{
    text-align:center;
    position:fixed;
    z-index:2;
    width:100%;
	left:0;
    background: white;
	padding-bottom:3px;
    margin:auto;

}



/* postioning equipment toggles*/
#equip{
	display:inline-block;
	text-align:center;
	color:black;
	padding-left:10px;
    float:none;
    
}



/* make equip toggles rounded */
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px;  }


/* set bg colour for on state !!!NOT WORKING!!!*/
.toggle.ios, .toggle-on.ios{
	background-color:#1AC266;
}

/* settings for toggle handle*/
.toggle.ios .toggle-handle { border-radius: 20px;}



#sel1{
	position:relative;
	width:65px;
	display:inline-block;
    text-align:center;
}

/* remove margins in booking list accordion*/
#userbookinglist{

	margin-bottom:0;
	margin-top:5px;
}

/* remove margins in booking list accordion*/
#accordion{

margin-top:5px;
margin-bottom:0px;

}


/* profile form */
#profileform{

	text-align:center;
	display:inline;
}


/* align form */
.form-group.has-feedback{

text-align:center;
display:absolute;

}


input{
	margin-bottom:2px;
}

/* position edit buttons in accordian */
.editbutton{

	float:right;

}

.panel-body{

padding:3px;

}


/* selectively remove scrolling*/
.noscroll{

overflow:hidden;

}

.scroll {
	overflow-y:scroll;

}


i {
display:inline-block;
}


/* NGANIMATE
====================== */

/* show and hide */

.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}


/* ANIMATIONS
====================== */
.spinner {
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
	animation:spin 1s infinite;
}

@keyframes spin {
	from 	{ transform:rotate(0deg); }
	to 	{ transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	from 	{ -webkit-transform:rotate(0deg); }
	to 	{ -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
	from 	{ -moz-transform:rotate(0deg); }	
	to 	{ -moz-transform:rotate(360deg); }
}


#content-views  { position:relative; }

.ng-enter, .ng-leave
                { width:100%; position:absolute; }

/*
.ng-enter
                {
                -webkit-animation:zoomInDown 1.2s both ease-in;
                -moz-animation:zoomInDown 1.2s both ease-in;
                animation:zoomInDown 1.2s both ease-in;
                }
.ng-leave
                {
                -webkit-animation:zoomOutDown 0.5s both ease-in;
                -moz-animation:zoomOutDown 0.5s both ease-in;
                animation:zoomOutDown 0.5s both ease-in;
                }
	*/
